# Ignore Python cache files and directories
__pycache__/
*.py[cod]
*$py.class
*.log

# Ignore environment files
.env
.env.*

# Ignore virtual environment directories (optional, but recommended)
venv/
env/

# Ignore media/image files
*.jpeg
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico
*.avif
*.heic
*.heif
*.raw
*.psd
*.eps
*.pdf