# Python __pycache__ and compiled files
__pycache__/
*.py[cod]
*.pyo
*.cpython-*

# Ignore logs
*.log

# Ignore media/image files
*.jpeg
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico
*.avif
*.heic
*.heif
*.raw
*.psd
*.eps
*.pdf

# Allow init files (important for module resolution)
!**/__init__.py
